/__pycache__
/all_images_IMGFlip_templates
/embeddings
/images
/oldUpdate
/meme_to_template_map_updated.csv
/results
/sentiment_analysis_scores_300.csv
/under_0.7.txt
/usage_results.csv
/global_context
/local_context
/filenames
/full_context
/CSV_for_embeddings
/usage_result.csv
/log
/API_keys.py